* {box-sizing: border-box;}
.row {
  position: relative;
}
/* stile di tutti i contenitori */
.img {
  width: 250px;
  height: 300px;
  background-size: 250px 300px;
  display: inline-block;
  position: relative;

}
/* stile dei singoli contenitori */
.img1 {
  background-image: url(../img/pd1.jpg);
}
.img2 {
  background-image: url(../img/pd2.jpg);
}
.img3 {
  background-image: url(../img/pd3.jpg);
}
/* stile dello span */
.img > span {
  position: absolute;
  right: 0;
}

.thirty {
  background-color: green;
}
.five {
  background-color: red;
}
